.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff5898 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius:8PX;
    Padding: 9px 25px;
    cursor: pointer;
}
.container-categories{
    position: under;
}
.cat1{
    background-color: orange;
    padding: 10px 40px;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
